/* Write your CSS here */
.mainContainer {
  background-color: #ffc2a0;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TodoContainer {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #ff8542;
}
